{% extends "main.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="row justify-content-end">
        <a type="button" class="btn btn-success" href="/tasks/create">Add</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"><a href="?{% if get is not empty %}{{ get|url_encode }}&{% endif %}{% if get.orderBy == 'id' %}orderBy=-id{% else %}orderBy=id{% endif %}">ID</a></th>
            <th scope="col"><a href="?{% if get is not empty %}{{ get|url_encode }}&{% endif %}{% if get.orderBy == 'title' %}orderBy=-title{% else %}orderBy=title{% endif %}">Title</a></th>
            <th scope="col"><a href="?{% if get is not empty %}{{ get|url_encode }}&{% endif %}{% if get.orderBy == 'description' %}orderBy=-description{% else %}orderBy=description{% endif %}">Description</a></th>
            <th scope="col"><a href="?{% if get is not empty %}{{ get|url_encode }}&{% endif %}{% if get.orderBy == 'status' %}orderBy=-status{% else %}orderBy=status{% endif %}">Status</a></th>
            <th scope="col">Updated</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for task in pager.currentPageResults %}
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{ task.id }}</th>
                    <th scope="col">{{ task.title }}</th>
                    <th scope="col">{{ task.description }}</th>
                    <th scope="col">{{ task.status.getName }}</th>
                    <th scope="col">{% if task.IsUpdated %} Edited {% endif %}</th>
                    <th scope="col">
                        <a href="/tasks/{{ task.id }}" class="bi bi-eye-fill"></a><br>
                        {% if cookie.Authorization %}
                            <a href="/tasks/{{ task.id }}/edit" class="bi bi-pen-fill"></a><br>
                            {% if task.status.isActive %}
                                <a href="/tasks/{{ task.id }}/complete" class="bi bi-check-lg"></a>
                            {% endif %}
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination">
            {% if pager.hasPreviousPage %}
                <li class="page-item">
                    <a class="page-link" href="?{% if get is not empty %}{{ get|url_encode }}&{% endif %}page={{ pager.getPreviousPage }}">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
            {% endif %}

            {% for page in range(1, pager.getNbPages) %}
                {% if page == pager.getCurrentPage %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?{% if get is not empty %}{{ get|url_encode }}&{% endif %}page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if pager.hasNextPage  %}
                <li class="page-item">
                    <a class="page-link" href="?{% if get is not empty %}{{ get|url_encode }}&{% endif %}page={{ pager.getNextPage }}">Next</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

