{% extends "main.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
    {{ parent() }}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Updated</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ task.id }}</th>
            <th scope="col">{{ task.title }}</th>
            <th scope="col">{{ task.description }}</th>
            <th scope="col">{{ task.status.getName }}</th>
            <th scope="col">{% if task.IsUpdated %} Edited {% endif %}</th>
            <th scope="col">
                <a href="/tasks/{{ task.id }}" class="bi bi-eye-fill"></a><br>
                {% if cookie.Authorization %}
                    <a href="/tasks/{{ task.id }}/edit" class="bi bi-pen-fill"></a><br>
                    {% if task.status.isActive %}
                        <a href="/tasks/{{ task.id }}/complete" class="bi bi-check-lg"></a>
                    {% endif %}
                {% endif %}
            </th>
        </tr>
        </tbody>
    </table>
{% endblock %}

