{% extends "main.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    {{ parent() }}
    <h1>{{ app.session.error }}</h1>

    {% if app.session %}
        <h1>{{ app.session }}</h1>
    {% endif %}
    <form method="POST" action="?">
        <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" name="title" class="form-control" placeholder="Title" required value="{{ task.title }}">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Description</label>
            <input type="text" name="description" class="form-control" placeholder="Description" value="{{ task.description }}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

