<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Task Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/tasks">Tasks</a>
                </li>
            </ul>
        </div>
        {% if cookie.Authorization  %}
            <p class="nav-item">
                <a class="nav-link" href='#'>{{ cookie.Login }}</a>
            </p>
            <p class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </p>
        {% else %}
            <p class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </p>
            <p class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </p>
        {% endif %}
    </nav>

    {% if session.success %}
        <div class="alert alert-success" role="alert">
            {{ flash('success') }}
        </div>
    {% endif %}

    {% if session.errors %}
        <div class="alert alert-danger" role="alert">
            {{ flash('errors') }}
        </div>
    {% endif %}

    {% block content %}{% endblock %}
    <div id="footer">
        {% block footer %}
            &copy; Copyright 2021 by <a href="#">you</a>.
        {% endblock %}
    </div>
</div>
</body>
</html>