{% extends "main.html.twig" %}

{% block title %}Register{% endblock %}

{% block content %}
    {{ parent() }}
    <form method="POST" action="?">
        <div class="form-group">
            <label>Login</label>
            <input type="text" name="login" class="form-control" placeholder="Login">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <a href="/login">Back to login</a>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}

